<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<LINK rel="Bookmark" href="/favicon.ico" >
<LINK rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<script type="text/javascript" src="lib/PIE_IE678.js"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="lib/Hui-iconfont/1.0.7/iconfont.css" />
<link rel="stylesheet" type="text/css" href="lib/icheck/icheck.css" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
<![endif]-->
<!--/meta 作为公共模版分离出去-->

<title>开始挂号</title>
<meta name="keywords" content="H-ui.admin v2.3,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
<meta name="description" content="H-ui.admin v2.3，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>
<body>
<article class="page-container" >
	<form action="registration/insertRegistration" method="post" class="form form-horizontal" id="form-admin-role-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>选择科室</label>
			<div class="formControls col-xs-4 col-sm-2"> <span class="select-box">
				<select name="departmentId"  class="select" id="department" v-model="department" @change="getDepartmentName">
                    <option disabled value="">请选择</option>
					<option v-for="item in rows" v-bind:value="item.id">{{item.name}}</option>
				</select> </span>
				<input type="text" name="departmentName" id="departmentName" hidden/>
			</div>
		</div>



			</br>
			</br>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">选择医生</label>
			<div class="formControls col-xs-4 col-sm-2">
				<span class="select-box">
				<select name="employeeid" class="select" id="employeeId" v-model="employeeId" @change="getEmployeeName">
					<option disabled value="">请选择</option>
					<option v-for="item in rows" :value="item.id">{{item.name}}</option>
				</select></span>
				<input type="text" name="employeename" id="employeeName" hidden>
			</div>





		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">挂号类型</label>
			<div class="formControls col-xs-4 col-sm-2"> <span class="select-box">
				<select name="category" class="select" id="findClassification" v-model="dataDictionary">
					<option disabled value="">请选择</option>
					<option v-for="item in rows" v-bind:value="item.id">{{item.name}}</option>
				</select></span>
			</div>
			<br>
		</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		挂号费用&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="money" name="money" value="" placeholder="请输入金额">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">收费方式</label>
			<div class="formControls col-xs-4 col-sm-2"> <span class="select-box">
				<select name="payWay" class="select" id="findPayWay" v-model="dataDictionary">
					<option disabled value="">请选择</option>
					<option v-for="item in rows" v-bind:value="item.name">{{item.name}}</option>
				</select>
				</span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">挂号员</label>
			<div class="formControls col-xs-4 col-sm-2"> <span class="select-box">
				<select name="registrationId" class="select" id="registrationId" v-model="registrationId" @change="getRegistrationPerson">
					<option disabled value="">请选择</option>
					<option v-for="item in rows" v-bind:value="item.id">{{item.name}}</option>
				</select>
				</span>
				<input type="text" name="registrationPerson" id="registrationPerson" hidden>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<button type="submit" class="btn btn-success radius" id="admin-role-save" name="admin-role-save"><i class="icon-ok"></i> 确定</button>
			</div>
		</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="lib/layer/2.1/layer.js"></script> 
<script type="text/javascript" src="lib/icheck/jquery.icheck.min.js"></script> 
 
<script type="text/javascript" src="static/h-ui/js/H-ui.js"></script> 
<script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.js"></script> 
<!--/_footer /作为公共模版分离出去-->


<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
$(function(){
	$(".permission-list dt input:checkbox").click(function(){
		$(this).closest("dl").find("dd input:checkbox").prop("checked",$(this).prop("checked"));
	});
	$(".permission-list2 dd input:checkbox").click(function(){
		var l =$(this).parent().parent().find("input:checked").length;
		var l2=$(this).parents(".permission-list").find(".permission-list2 dd").find("input:checked").length;
		if($(this).prop("checked")){
			$(this).closest("dl").find("dt input:checkbox").prop("checked",true);
			$(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked",true);
		}
		else{
			if(l==0){
				$(this).closest("dl").find("dt input:checkbox").prop("checked",false);
			}
			if(l2==0){
				$(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked",false);
			}
		}
	});
	
	/*$("#form-admin-role-add").validate({
		rules:{
			roleName:{
				required:true,
			},
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			$(form).ajaxSubmit();
			var index = parent.layer.getFrameIndex(window.name);
			parent.layer.close(index);
		}
	});*/
});

</script>
<!--/请在上方写此页面业务相关的脚本-->
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
<script type="text/javascript">
	$(function () {
		$.ajax({
			type : "POST",
			url : "department/findFirstLevel",
			data : '',
			contentType : "application/json",
			dataType :"json" ,
			success:function(data) {
				vue.rows=data;
			},
			error:function(err){
				alert("request failed！");
			}
		});

	})
    var vue=new Vue({
        el: '#department',
        data: {
            rows:[],
			department:""
        },
		methods: {
			getDepartmentName: function(){
				var str = $("#department option:selected").text();
				$("#departmentName").val(str);
			}
		}
    });
</script>
<script type="text/javascript">
	$(function () {
		$.ajax({
			type : "POST",
			url : "employee/findDoctor",
			data : '',
			contentType : "application/json",
			dataType :"json" ,
			success:function(data) {
				new Vue({
					el: '#employeeId',
					data: {
						rows:data,
						employeeId:""
					},
					methods: {
						getEmployeeName: function(){
							var str = $("#employeeId option:selected").text();
							$("#employeeName").val(str);
						}
					}
				})
			},
			error:function(err){
				alert("request failed！");
			}
		});
	})
</script>
<script type="text/javascript">
	$(function () {
		$.ajax({
			type : "POST",
			url : "employee/findEmployee",
			data : '',
			contentType : "application/json",
			dataType :"json" ,
			success:function(data) {
				new Vue({
					el: '#registrationId',
					data: {
						rows:data,
						registrationId:""
					},
					methods: {
						getRegistrationPerson: function(){
							var str = $("#registrationId option:selected").text();
							$("#registrationPerson").val(str);
						}
					}
				})
			},
			error:function(err){
				alert("request failed！");
			}
		});
	})
</script>

<script type="text/javascript">
	$(function () {
		$.ajax({
			type : "POST",
			url : "dataDictionary/700",
			data : {
			},
			contentType : "application/json",
			dataType :"json" ,
			success:function(data) {
				new Vue({
					el: '#findClassification',
					data: {
						rows:data,
						dataDictionary:""
					}
				})
			},
			error:function(err){
				alert("request failed！");
			}
		});
	})
</script>

<script type="text/javascript">
	$(function () {
		$.ajax({
			type : "POST",
			url : "dataDictionary/100",
			data : {
			},
			contentType : "application/json",
			dataType :"json" ,
			success:function(data) {
				new Vue({
					el: '#findPayWay',
					data: {
						rows:data,
						dataDictionary:""
					}
				})
			},
			error:function(err){
				alert("request failed！");
			}
		});
	})
</script>
<!--<script>
	var vue = new Vue({
		el:"#registration",
		data:{
			rows : "",
		},
		created:{

		},
		methods:{
			getRegistrationSelected:function(){
				$.ajax({
					type : "POST",
					url : "registration/findRegistration",
					data : {

					},
					success : function(data) {
						// var message = $.parseJSON(data);//后台返回的json数据需要转为对象
						vue.rows=data;//把后台返回的JSON数据赋给selectById
					},
					error : function(){
						// alert("错误");
					}

				});
			},
			updateById:function(){
				$.ajax({
					type : "POST",
					url : "registration/findRegistration",
					data : vue.rows,
					success : function(data) {
						// alert(data);
					},
					error : function(){
						// alert("错误");
					}

				});
			},
		}
	})
</script>-->

</body>
</html>

<script type="text/javascript">
	// $(document).ready(function () {
	// 	$("#disease").change(function(){
	// 		var str = $("#disease option:selected").text();
	// 		$("#departmentName").val(str);
	// 	});

		// console.log($("#employeeId"));
		// $("#employeeName").blur(function(){
		// 	var employeeName = $("#employeeId option:selected").text();
		// 	// alert(employeeName);
		// 	$("#employeeName").val(employeeName);
		// });
		// $("#employeeId").on('blur', function() {
		// 	var employeeName = $("#employeeId option:selected").text();
		// 	$("#employeeName").val(employeeName);
		// });

		// $("#employeeId").change(function(){
		// 	var employeeName = $("#employeeId option:selected").text();
		// 	$("#employeeName").val(employeeName);
		// });
	// 	$("#registrationId").change(function(){
	// 		var registrationId = $("#registrationId option:selected").text();
	// 		$("#registrationPerson").val(registrationId);
	// 	});
	// 	function employeeIdChange() {
	// 		var employeeId = document.getElementById("employeeId");
	// 		var index = employeeId.selectedIndex;
	// 		var employeeName = document.getElementById("employeeName").value;
	// 		employeeName = employeeId.option[index].text;
	// 	}
	// });
</script>