<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<script type="text/javascript" src="lib/PIE_IE678.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="lib/Hui-iconfont/1.0.7/iconfont.css" />
<link rel="stylesheet" type="text/css" href="lib/icheck/icheck.css" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<script src="../static/js/colResizable-1.3.min.js"></script>
<script src="../static/js/common.js"></script>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/jquery.SuperSlide.js"></script>
	<![endif]-->
	<title>门诊管理</title>
</head>
<body>

<asp:Button ID="btnFresh" runat="server" Text="" OnClick="btnFresh_Click" />

<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 门诊管理 <span class="c-gray en">&gt;</span> 门诊挂号 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="text-c"> <span class="select-box inline">
		<select name="category" class="select" id="findClassification" v-model="dataDictionary">
					<option disabled value="">请选择</option>
					<option v-for="item in rows" v-bind:value="item.id">{{item.name}}</option>
				</select>
		</span> 日期范围：
		<input type="text" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'logmax\')||\'%y-%M-%d\'}'})" id="logmin" class="input-text Wdate" style="width:120px;" name="logmin">
		<input type="text" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'logmin\')}',maxDate:'%y-%M-%d'})" id="logmax" class="input-text Wdate" style="width:120px;">
		<input type="text" name="" id="" placeholder=" 资讯名称" style="width:250px" class="input-text">
		<button name=""  class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 挂号记录搜索</button>

	</div>


	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="datadel()" class="btn btn-danger radius" ><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
		<a class="btn btn-primary radius" data-title="挂号" onclick="admin_edit('添加药品','add--number.html','1','780','450')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 挂号</a>
	</span>  </div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover " id="registration">
			<thead>
				<tr class="text-c">
                    <th width="25"><input type="checkbox" name="" value="" id="all"></th>
                    <th width="70">挂号单号</th>serialNum
                    <th width="70">挂号类别</th>category  挂号类别
                    <th width="70">科室名称</th>departmentName
                    <th width="70">主治医生</th>employeename
                    <th width="70">挂号员</th>registrationPerson
                    <th width="120">挂号时间</th>registrationDate
                    <th width="70">挂号费用</th>money
                    <th width="70">收费状态</th>moneyState
                    <th width="70">支付方式</th>payWay
					<th width="100">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr class="text-c" v-for="item in rows">
                    <td hidden>{{item.id}}</td>
					<td><input type="checkbox" name="smallBox"></td>
					<td>{{item.serialNum}}</td>
                    <td>{{item.dataDictionaryCategory.name}}</td>
                    <td>{{item.departmentName}}</td>
                    <td>{{item.employeename}}</td>
                    <td>{{item.registrationPerson}}</td>
                    <td>{{item.registrationDate}}</td>
                    <td>{{item.money}}</td>
                    <td>{{item.dataDictionaryMoneyState.name}}</td>
                    <td>{{item.payWay}}</td>

					<td class="f-14 td-manage">
                        <a onclick="updateById(this)">缴费</a>
                        <a style="text-decoration:none" class="ml-5" onclick="deleteById(this)">
                            <i class="Hui-iconfont">&#xe6e2;</i>
                        </a>
                    </td>
				</tr>

			</tbody>
		</table>
	</div>
	</br>


</div>
<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="lib/layer/2.1/layer.js"></script> 
<script type="text/javascript" src="lib/My97DatePicker/WdatePicker.js"></script> 
<script type="text/javascript" src="lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="static/h-ui/js/H-ui.js"></script> 
<script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.js"></script>
<script type="text/javascript">
$('.table-sort').dataTable({
	"aaSorting": [ 1, "desc" ],//默认第几个排序
	"bStateSave": true,//状态保存
	"aoColumnDefs": [
	  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
	  {"orderable":false,"aTargets":[0,8]}// 不参与排序的列
	]
});
function admin_edit(title,url,id,w,h){
	layer_show(title,url,w,h);
}
</script>
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
<script type="text/javascript">
	$(function () {
		$.ajax({
			type: "POST", //发送是以POST还是GET
			url: "registration/find", //发送的地址
			dataType: "json", //传输数据的格式
			data: {}, //传输的数据
			//成功的回调函数
			success: function(data) {
				// alert(data);
                vue.rows=data;

			},
			//失败的回调函数
			error: function() {
				alert("发生错误：");
			}
		})
	});
	var vue = new Vue({
        el:"#registration",
        data:{
            rows:[],
        },
        methods: {
        }
    })
    function select() {
        var category = $("#findClassification").val();
        var logmin = $("#logmin").val();
        var logmax = $("#logmax").val();
        var informationName = $("#informationName").val();
        var url = "registration/selectRegistration?category="+category+"&logmin="+logmin+
                "&logmax="+logmax+"&informationName="+informationName;
        $.get(url,function (data,status) {//remove();函数
            if (status=="success") {
                vue.rows = data;
            }
        })
    }
</script>
<script type="text/javascript">
    $(function () {
        $.ajax({
            type : "POST",
            url : "dataDictionary/700",
            data : {
            },
            contentType : "application/json",
            dataType :"json" ,
            success:function(data) {
                new Vue({
                    el: '#findClassification',
                    data: {
                        rows:data,
                        dataDictionary:""
                    }
                })
            },
            error:function(err){
                alert("request failed！");
            }
        });
    })

</script>
<script>
    function updateById(id) {
        var parent = id.parentNode.parentNode;
        var child = parent.firstChild;  //原生态js
        var str = $(child).text();//js对象==>jquery对象
        $.get("registration/updateRegistration?id="+str,function (data,status) {
            if(status=="success"){
                alert("缴费成功");
                $(parent).children().eq(9).text("已缴费");
            }else {
                alert("缴费失败");
            }
        })
    }
    function deleteById(id) {
        var parent = id.parentNode.parentNode;
        var child = parent.firstChild;  //原生态js
        var str = $(child).text();//js对象==>jquery对象
        $.get("registration/deleteRegistration?id="+str,function (data,status) {//remove();函数
            if(status=="success"){
				$(parent).remove();
				alert("删除成功");
            }else {
                alert("删除失败");
            }
        })
    }
    function datadel() {
			var id = [];
			$("input[name='smallBox']:checked").each(function () {
				var str = $(this).parent().parent().children().eq(0).text();
				id.push(str);
			});
			 // alert(id);

			var url = "registration/deleteAllRegistration";
			var str = "";
			for(var i=0;i<id.length;++i){
				str += id[i]+",";
			}
			str = str.substring(0,str.length-1);
			var data = {"id":str};
			$.get(url,data,function(data,status){
//                window.print(data);return false;
				if(status=="success"){
					$(function () {
						window.location.reload(); //刷新当前页面
						location.href = url + "/teacherList";
					})
				}else {
					alert("删除失败");
				}
			})
	}
</script>
<script type="text/javascript">
	$(function(){
		$("#all").change(function(){//判断全选框的改变
			var flage =$(this).is(":checked");//全选选中为true，否则为false
			$("input[type=checkbox]").each(function(){
				$(this).prop("checked",flage);
			})
		})
	})
</script>


	<script type="text/javascript">
			function btnFreshData() {
				document.getElementById("btnFresh").click();
			}
</script>


</body></span>
</body>
</html>